<div class="form">

  <div>
    From
    <select [(ngModel)]="from">
      <option *ngFor="let station of stations" [value]="station.id">{{station.data.name}}</option>
    </select>
  </div>

  <div>
    To
    <select [(ngModel)]="to">
      <option *ngFor="let station of stations" [value]="station.id">{{station.data.name}}</option>
    </select>
  </div>

  <div>
    <input class="button" type="submit" value="Search" (click)="search()">
    <input style="float: right" class="button" type="button" value="↑↓" (click)="swap()">
  </div>

</div>

<div class="trains">
  <div *ngFor="let train of trains" [ngClass]="train.days" [class.late]="train.late">
    <div>{{train.id}}: {{train.from | currency : ' '}} - {{train.to | currency : ' '}}</div>
    <div class="destination">{{train.destination.name}}</div>
  </div>

</div>