<div class="form">

  <div>
    From
    <select [(ngModel)]="from">
      <option *ngFor="let station of stations" [value]="station.id">{{station.data.name}}</option>
    </select>
  </div>

  <div>
    To
    <select [(ngModel)]="to">
      <option *ngFor="let station of stations" [value]="station.id">{{station.data.name}}</option>
    </select>
  </div>

  <div>
    <input class="button" type="submit" value="Search" (click)="search()">
    <input style="float: right" class="button" type="button" value="↑↓" (click)="swap()">
  </div>

</div>

<div class="trains">
  <div [class.hidden]="!message" [class.error]="isError" class="message">{{message}}</div>
  <a [routerLink]="['/train', train.id]" [queryParams]="{ from, to }" *ngFor="let train of trains" #train class="train"
    [ngClass]="train.runsToday ? train.days : [train.days, 'not-today']" [class.late]="train.late">
    <div class="train-label" [class.hidden]="!train.waitTime">{{train.waitTime}}</div>
    <div>{{train.id}} {{train.origin.name}} — {{train.destination.name}}</div>
    <div class="time-line">
      <div class="departure-time">{{train.from | currency : ' '}}</div>
      <div class="line"></div>
      <div class="duration">{{train.duration}}</div>
      <div class="line"></div>
      <div class="arrival-time">{{train.to | currency : ' '}}</div>
    </div>
    <div class="route">
      <div class="station">{{train.departure.name}}</div>
      <div class="arrival station">{{train.arrival.name}}</div>
    </div>
  </a>

</div>