<div class="stations">
    <div class="header" [ngClass]="days">
        {{header}}
        <a [routerLink]="['/schema', id]" [queryParams]="{ from, to }" style="margin-left: auto">
            <img class="icon" style="width: 30px; height: 30px" src="map.svg" alt="Schema">
        </a>
    </div>
    <table style="width: 100%">
        <tr class="station" [ngClass]="{ 'in-route': station.inRoute }" *ngFor="let station of stations">
            <td class="name">{{station.name}}</td>
            <td class="links">
                <a [href]="station.apple" target="_blank"><img src="apple.svg"></a>
                <a [href]="station.google" target="_blank"><img src="google.svg"></a>
                <a [href]="station.osmand" target="_blank"><img src="osmand.svg"></a>
                <a [href]="station.yandex" target="_blank"><img src="yandex.svg"></a>
            </td>
            <td class="time">{{station.time | currency : ' '}}</td>
        </tr>
    </table>
</div>