body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
}

select {
    width: 100%;
    padding: 10px;
    font-size: large;
}

.holiday {
    background: #FFCC99;
}

.workday {
    background: #CCFFCC;
}

.button {
    font-size: large;
    padding: 10px 30px;
}

.form>div+div {
    margin-top: 20px;
}

.trains {
    margin-top: 20px;
    color: #333;
}

.train {
    box-shadow: 0 4px 12px -4px rgba(13, 35, 67, .15), 0 0 2px rgba(13, 35, 67, .3);
    border-radius: 8px;
    padding: 12px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #333;
}

.train.not-today{
    text-decoration: line-through;
}

.train .header {
    display: flex;
}

.train .title {
    flex: 1 0 auto;
}

.train .departure-time {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.train .arrival-time {
    font-size: 22px;
    line-height: 26px;
}

.train .duration {
    color: #999;
}

.train .time-line {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.train .time-line .line {
    flex-grow: 1;
    height: 1px;
    background-color: #e6e6e6;
}

.train+.train {
    margin-top: 12px;
}

.trains .late {
    color: #C0C0C0
}

.train.late .icon {
    opacity: 0.3;
}

.train .route {
    display: flex;
}

.train .route .station {
    flex-grow: 1;
    font-size: 13px;
    line-height: 16px;
}

.train .route .arrival.station {
    text-align: right;
}

.train-label {
    color: #fff;
    background-color: #f33;
    font-size: 13px;
    line-height: 16px;
    display: table;
    padding: 2px 12px;
    border-radius: 0 0 4px 0;
    margin: -12px 0 10px -12px;
}

.message {
    text-align: center;
    color: #999;
}

.message.error {
    color: red;
}

.hidden {
    display: none !important;
}

.stations .header {
    min-height: 3lh;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-size: 18px;
}

.stations .station {
    height: 40px;
}

.stations .station.in-route {
    font-weight: bold;
}

.stations .name {
    white-space: nowrap;
    padding-left: 5px;
}

.stations .time {
    padding-right: 5px;
}

.stations .station .links * {
    height: 30px;
}

.stations .station .links *+* {
    margin-left: 10px;
}

.stations table {
    border-collapse: collapse;
}

.stations table td {
    width: 1px;
}

.stations table tr:nth-child(odd) {
    background-color: #F0F0F0;
}

.stations table td.links {
    width: 100%;
    text-align: center;
}